/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.table-width-10 {
    width: 10%;
}

.table-width-40 {
    width: 40%;
}

.characters-remaining-textarea {
    font-size: 80% !important;
    font-weight: normal !important;
  }
  

  .mat-dialog-container {
     padding: 0px !important;
     border-radius: 7px !important;
}

.mat-dialog-title {
    color: #adadad !important;
    background: #101d34 !important;
}


.login-btn-size {
    height: 43px !important;
    width: 150px!important;
}

.padding-right-7
{
    padding: 7px;
}