.vs
Common/bin
Common/obj
SampleProject/bin
SampleProject/obj
SampleProject.Repository/bin
SampleProject.Repository/obj
SampleProject.Service/bin
SampleProject.Service/obj
SampleProject/logs
FRCSPreparationPortal/bin
FRCSPreparationPortal/obj
FRCSPreparationPortal.Repository/bin
FRCSPreparationPortal.Repository/obj
FRCSPreparationPortal.Service/bin
FRCSPreparationPortal.Service/obj
FRCSPreparationPortal/logs
