.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .mat-expansion-panel .mat-expansion-panel-header-title {
    color: white;
    align-items: center;
  }
  
  .mat-expansion-panel .mat-expansion-panel-header-description {
    font-weight: lighter;
    color: white;
  }
  
  .mat-expansion-panel-header {
    color: white;
    height: 100px;
    background-color: rgba(#081458, 0.8);
  }
  
  mat-expansion-panel-header.mat-expanded,
  mat-expansion-panel-header.mat-expanded:focus {
    background-color: rgba(#081458, 0.8);
  }
  
  .mat-expansion-panel:not(.mat-expanded)
    .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color: rgba(#081458, 1);
  }
  
  .mat-expansion-panel.mat-expanded
    .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color: rgba(#081458, 1);
  }
  
  .mat-expansion-panel:not(.mat-expanded) {
    border-radius: 8px !important;
    margin: 16px 0;
  }
  
  .mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
    border-radius: 8px 8px 0 0 !important;
  }
