<h1 class="card-header text-white bg-default">
  {{ _data.title }}
  <!-- <a (click)="closeDialog()" class="cross-icon cursor-hand"><i class="ri-close-fill"></i></a> -->
</h1>

<div class="custom-form">
  <div class="modal-body modal-center-scroll">
    <p class="mb-0">{{ _data.message }}</p>
  </div>
  <div class="modal-footer border-0">
    <button mat-button value="Cancel" class="btn btn-primary login-btn-size" [mat-dialog-close]="false"
      cdkFocusInitial>
      Cancel
    </button>
    <button mat-button value="Confirm" class="btn btn-md btn-primary login-btn-size" [mat-dialog-close]="true" cdkFocusInitial>
      Ok
    </button>
  </div>
</div>