
<h1 *ngIf="!isEdit"  class="card-header text-white bg-default">Add Question & Answers</h1>
<h1 *ngIf="isEdit" class="card-header text-white bg-default">Edit Question & Answers</h1>      

<div class="custom-form">
  <div class="modal-body modal-center-scroll">
    <form [formGroup]="questionForm">
    <div class="form-group">
      <label for="question"
        [ngClass]="{'error': submitted && myQuestionForm.question.errors}">Question<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="question" formControlName="question" #question placeholder="Enter question"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{question.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.question.errors?.required">
        Question is required
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <div class="checkbox mb-3">
        <label class="custom-container"> Mock up
            <input formControlName="isMockExam" type="checkbox" value="remember-me">
            <span class="custom-checkmark"></span>
        </label>
    </div>
    </div>
    <div class="form-group col-md-6">
      <div class="checkbox mb-3">
        <label class="custom-container"> Demo
            <input formControlName="isDemo" type="checkbox" value="remember-me">
            <span class="custom-checkmark"></span>
        </label>
    </div>
    </div>
  </div>
    <div class="form-group">
      <label for="categoriesId"
          [ngClass]="{'error': submitted && myQuestionForm.categoriesId.errors}">Categories<sup>*</sup></label>
      <select class="custom-select" id="categoriesId" formControlName="categoriesId">
          <option [value]=0>Choose...</option>
          <ng-container *ngFor="let cat of listCategories">
              <option [value]=cat.id>{{cat.name}}</option>
          </ng-container>
      </select>
      <!-- error block -->
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.categoriesId.errors?.required">
          Category is required
      </div>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.categoriesId.errors?.min">
        Category is required
      </div>
  </div>
    <div class="form-group">
      <label for="description"
        [ngClass]="{'error': submitted && myQuestionForm.description.errors}">Description<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="description" formControlName="description" #description placeholder="Enter description"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{description.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.description.errors?.required">
        Description is required
      </div>
    </div>
    <div class="form-group">
      <label for="option1"
        [ngClass]="{'error': submitted && myQuestionForm.option1.errors}">option 1<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="option1" formControlName="option1" #option1 placeholder="Enter option 1"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{option1.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.option1.errors?.required">
        Option 1 is required
      </div>
    </div>
    <div class="form-group">
      <label for="option2"
        [ngClass]="{'error': submitted && myQuestionForm.option2.errors}">option 2<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="option2" formControlName="option2" #option2 placeholder="Enter option 2"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{option2.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.option2.errors?.required">
        Option 2 is required
      </div>
    </div>
    <div class="form-group">
      <label for="option3"
        [ngClass]="{'error': submitted && myQuestionForm.option3.errors}">option 3<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="option3" formControlName="option3" #option3 placeholder="Enter option 3"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{option3.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.option3.errors?.required">
        Option 3 is required
      </div>
    </div>
    <div class="form-group">
      <label for="option4"
        [ngClass]="{'error': submitted && myQuestionForm.option4.errors}">option 4<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="option4" formControlName="option4" #option4 placeholder="Enter option 4"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{option4.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.option4.errors?.required">
        Option 4 is required
      </div>
    </div>
    <div class="form-group">
      <label for="option5"
        [ngClass]="{'error': submitted && myQuestionForm.option5.errors}">option 5<sup>*</sup></label>
      <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
        id="option5" formControlName="option5" #option5 placeholder="Enter option 5"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="5000"></textarea>
        <label class="nopadding characters-remaining-textarea clrlbl">
          {{option5.value.length}} / 5000 characters left.
        </label>
      <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.option5.errors?.required">
        Option 5 is required
      </div>
    </div>
    <div class="form-group">
      <label for="correctAnswer"
        [ngClass]="{'error': submitted && questionForm.get('correctAnswer').errors}">
        Correct Answer
      </label>
    
      <div>
        <label for="option1">Option 1: </label>
        <input type="radio" formControlName="correctAnswer" [value]="1" />
        <label for="option2">Option 2: </label>
        <input type="radio" formControlName="correctAnswer" [value]="2" />
        <label for="option3">Option 3: </label>
        <input type="radio" formControlName="correctAnswer" [value]="3" />
        <label for="option4">Option 4: </label>
        <input type="radio" formControlName="correctAnswer" [value]="4" />
        <label for="option5">Option 5: </label>
        <input type="radio" formControlName="correctAnswer" [value]="5" />
      </div>
    </div>
    
    <div class="form-group">
      <label for="question"
        [ngClass]="{'error': submitted && myQuestionForm.question.errors}">Upload Image</label>
        <input type="file" formControlName="file" (change)="onFileSelected($event)" accept="image/*" />
    </div>
     <div *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Current Question Image" style="max-width: 200px; max-height: 200px;" />
    </div>

    </form>
  </div>
  <div class="modal-footer border-0">
    <!-- <button mat-button value="Cancel" class="btn btn-primary login-btn-size" [mat-dialog-close]="false"
      cdkFocusInitial>
      Cancel
    </button> -->
    <button (click)="closeDialog()" [disabled]="isQuestionInProgress" type="button" class="btn btn-primary login-btn-size">Cancel</button>

    <!-- <button  mat-button value="Confirm" class="btn btn-md btn-primary login-btn-size" [mat-dialog-close]="true" cdkFocusInitial>
      Ok
    </button> -->
    <button (click)="saveQuestion()" [disabled]="isQuestionInProgress" type="submit" class="btn btn-primary login-btn-size">Save<i class="fa fa-spinner fa-spin" *ngIf="isQuestionInProgress"></i></button>

  </div>
</div>

 <!-- <div class="dialog">
  <div class="dialog-header">
    <div>  -->
    <!-- </div> -->
    <!-- <a (click)="closeDialog()" class="close-dialog"><i class="fa fa-times" aria-hidden="true"></i></a> -->
  <!-- </div> -->

  <!-- <div class="dialog-body">
     <form [formGroup]="questionForm">
        <div class="form-group">
          <label for="question"
            [ngClass]="{'error': submitted && myQuestionForm.question.errors}">Question<sup>*</sup></label>
          <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
            id="question" formControlName="question" #question placeholder="Enter question"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="5000"></textarea>
            <label class="nopadding characters-remaining-textarea clrlbl">
              {{question.value.length}} / 5000 characters left.
            </label>
          <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.question.errors?.required">
            Question is required
          </div>
        </div>
        <div class="form-group">
          <label for="answer"
            [ngClass]="{'error': submitted && myQuestionForm.answer.errors}">Answer<sup>*</sup></label>
          <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
            id="answer" formControlName="answer" #answer placeholder="Enter answer"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="5000"></textarea>
            <label class="nopadding characters-remaining-textarea clrlbl">
              {{answer.value.length}} / 5000 characters left.
            </label>
          <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.answer.errors?.required">
            Answer is required
          </div>
        </div>
      </form>
  </div>

  <div class="dialog-footer">
    <div class="btns-group text-right">
      <button type="button" class="btn btn-md btn-light btn-light" [disabled]="isQuestionInProgress"
        (click)="closeDialog()">
        Cancel
      </button>
      <button type="submit" (click)="saveQuestion()" class="btn btn-md btn-primary"
        [disabled]="isQuestionInProgress">
        Save<i class="fa fa-spinner fa-spin" *ngIf="isQuestionInProgress"></i>
      </button>
    </div>
  </div> -->

  <!-- <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <form [formGroup]="questionForm" class="form-signin">
              <div class="clearfix"></div>
              <div class="form-group">
                <label for="question"
                  [ngClass]="{'error': submitted && myQuestionForm.question.errors}">Question<sup>*</sup></label>
                <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
                  id="question" formControlName="question" #question placeholder="Enter question"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="5000"></textarea>
                  <label class="nopadding characters-remaining-textarea clrlbl">
                    {{question.value.length}} / 5000 characters left.
                  </label>
                <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.question.errors?.required">
                  Question is required
                </div>
              </div>
              <div class="form-group">
                <label for="answer"
                  [ngClass]="{'error': submitted && myQuestionForm.answer.errors}">Answer<sup>*</sup></label>
                <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
                  id="answer" formControlName="answer" #answer placeholder="Enter answer"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="5000"></textarea>
                  <label class="nopadding characters-remaining-textarea clrlbl">
                    {{answer.value.length}} / 5000 characters left.
                  </label>
                <div class="invalid-feedback" *ngIf="submitted && myQuestionForm.answer.errors?.required">
                  Answer is required
                </div>
              </div>
              <div  class="row">
                <div class="text-right col-6">
                  <button (click)="saveQuestion()" [disabled]="isQuestionInProgress" type="submit" class="btn btn-primary login-btn-size">Save</button>
                </div>
                <div class="text-right col-6">
                </div>
            </div>
         </form>
      </div>
    </div>
  </div>
  </div>  -->