<div class="float-left w-100 px-4 __add-new-portfolio-modal model-new-styling">
  
  <h1 *ngIf="!isEdit"  mat-dialog-title class="h1 card-header mb-0 --delete-modal-header p-3">
    Add Question & Answers
    <a (click)="closeDialog()" class="cross-icon cursor-hand"><i class="ri-close-fill"></i></a>
  </h1>
  <h1 *ngIf="isEdit"  mat-dialog-title class="h1 card-header mb-0 --delete-modal-header p-3">
    Edit Question & Answers
    <a (click)="closeDialog()" class="cross-icon cursor-hand"><i class="ri-close-fill"></i></a>
  </h1>
  <div class="clearfix"></div>

  <div class="custom-form">
    <div class="modal-body">
      <form [formGroup]="licenseForm">
        <div class="form-group">
          <label for="question"
            [ngClass]="{'error': submitted && myLicenseForm.question.errors}">Question<sup>*</sup></label>
          <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
            id="question" formControlName="question" #question placeholder="Enter question"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="5000"></textarea>
            <label class="nopadding characters-remaining-textarea clrlbl">
              {{question.value.length}} / 5000 characters left.
            </label>
          <div class="invalid-feedback" *ngIf="submitted && myLicenseForm.question.errors?.required">
            Question is required
          </div>
        </div>
        <div class="form-group">
          <label for="answer"
            [ngClass]="{'error': submitted && myLicenseForm.answer.errors}">Answer<sup>*</sup></label>
          <textarea style="height: 130px !important;" type="text" class="form-control form-control-textarea"
            id="answer" formControlName="answer" #answer placeholder="Enter answer"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="5000"></textarea>
            <label class="nopadding characters-remaining-textarea clrlbl">
              {{answer.value.length}} / 5000 characters left.
            </label>
          <div class="invalid-feedback" *ngIf="submitted && myLicenseForm.answer.errors?.required">
            Answer is required
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer border-0">
      <button type="button" class="btn btn-light btn-custom mr-1 btn-width-120" [disabled]="isLicenseInProgress"
        (click)="closeDialog()">
        Cancel
      </button>
      <button type="submit" (click)="saveLicense()" class="btn btn-danger btn-custom btn-width-120"
        [disabled]="isLicenseInProgress">
        Save<i class="fa fa-spinner fa-spin" *ngIf="isLicenseInProgress"></i>
      </button>
    </div>
  </div>

</div>